$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

@mixin column($justify, $align) {
  display: flex;
  flex-flow: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin row($justify, $align) {
  display: flex;
  flex-flow: row wrap;
  justify-content: $justify;
  align-items: $align;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  color: rgba(0, 0, 0, 0.9);
  font-size: calc(26px + (4) * (100vw - 300px) / (1600 - 300));
  letter-spacing: 1px;
  line-height: 30px;
}

h2 {
  font-size: calc(20px + (4) * (100vw - 300px) / (1600 - 300));
  font-weight: 700;
  margin: 1em 0;
}

p {
  &.faded {
    font-size: calc(16px + (4) * (100vw - 300px) / (1600 - 300));
    color: rgba(0, 0, 0, 0.75);
  }
}

header {
  @include row(center, center);
  padding: 0.9em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.location {
  @include row(center, center);
  padding: 0.9em;
  background-color: rgb(234, 234, 234);

  p {
    @include row(center, center);
    font-size: calc(14px + (4) * (100vw - 300px) / (1600 - 300));
    font-weight: 600;

    span.material-icons {
      margin: 0px 5px;
    }
  }
}

.display {
  @include column(center, center);
  text-align: center;
  padding: 2em 2em;
  background-color: rgb(246, 246, 246);

  p.faded {
    margin: 1em 0;
  }

  &-action {
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 2em;
    border: none;
    background: rgb(147, 86, 220);
    background: linear-gradient(345deg, $primary 27%, $secondary 100%);
    color: white;
    cursor: pointer;
  }
}

.userflow {
  padding: 1.5em;

  &-wrapper {
    @include column(center, center);
  }

  &-card {
    @include row(start, center);
    position: relative;
    padding: 1.5em 1.5em;
    border-radius: 2em;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    max-width: 400px;
    cursor: pointer;
    margin: 1em 0;

    &:hover,
    :active {
      background-color: rgb(245, 237, 255);
      transition: 0.3s;

      .material-icons {
        color: $primary;
      }
    }

    &-paste {
      position: absolute;
      left: -12.5px;
      width: 25px;
      height: 25px;
      background-color: $primary;
      border-radius: 50%;
      color: white;
      @include row(center, center);
    }

    &-text {
      width: 100%;
      font-weight: 500;
      font-size: calc(16px + (4) * (100vw - 300px) / (1600 - 300));
      @include row(space-around, center);

      .material-icons {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
      }
    }
  }
}

.restaurant {
  background-color: rgb(246, 246, 246);
  padding: 1.5em;

  &-wrapper {
    @include column(center, center);
  }

  &-card {
    width: 100%;
    border-radius: 1em;
    background-color: #fff;
    margin: 1em 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);

    .img-wrapper {
      height: 70%;
      width: 100%;
      display: flex;
      position: relative;
      max-height: 200px;

      .alert-new {
        position: absolute;
        top: 1em;
        right: 1em;
        padding: 0.5em 1em;
        text-align: center;
        background-color: $tertiary;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        border-radius: 0.2em;
        font-size: calc(14px + (4) * (100vw - 300px) / (1600 - 300));
      }

      img {
        object-fit: cover;
        width: 100%;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
      }
    }

    .card-body {
      @include row(space-between, center);

      .text-wrapper {
        @include column(center, start);
        width: 80%;
        padding: 0.5em 1em;
      }

      h3 {
        width: 80%;
      }

      p.faded {
        width: 80%;
      }

      .icon-wrapper {
        width: 20%;
        height: 100%;
        @include column(center, center);
      }
    }
  }
}

footer {
  background-color: rgba(53, 53, 53, 1);
  padding: 1.5em;

  h4 {
    font-family: "Shrikhand", cursive;
    font-size: calc(20px + 4 * (100vw - 300px) / (1600 - 300));
    color: white;
    font-weight: 400;
  }

  ul {
    list-style: none;
    @include column(center, start);
    padding: 1em 0;

    li {
      margin: 0.5em 0;
      .material-icons {
        color: white;
        font-size: calc(14px + 4 * (100vw - 300px) / (1600 - 300));
        margin-right: 0.5em;
      }
      a {
        color: white;
        @include row (start,center);
      }
    }
  }
}
