@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  color: rgba(0, 0, 0, 0.9);
  font-size: calc(26px + 4 * (100vw - 300px) / 1300);
  letter-spacing: 1px;
  line-height: 30px;
}

h2 {
  font-size: calc(20px + 4 * (100vw - 300px) / 1300);
  font-weight: 700;
  margin: 1em 0;
}

p.faded {
  font-size: calc(16px + 4 * (100vw - 300px) / 1300);
  color: rgba(0, 0, 0, 0.75);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0.9em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0.9em;
  background-color: #eaeaea;
}
.location p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 4 * (100vw - 300px) / 1300);
  font-weight: 600;
}
.location p span.material-icons {
  margin: 0px 5px;
}

.display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 2em;
  background-color: #f6f6f6;
}
.display p.faded {
  margin: 1em 0;
}
.display-action {
  margin: 1em 0;
  padding: 1em 1.5em;
  border-radius: 2em;
  border: none;
  background: #9356dc;
  background: linear-gradient(345deg, #9356dc 27%, #ff79da 100%);
  color: white;
  cursor: pointer;
}

.userflow {
  padding: 1.5em;
}
.userflow-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.userflow-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 1.5em 1.5em;
  border-radius: 2em;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.4);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  max-width: 400px;
  cursor: pointer;
  margin: 1em 0;
}
.userflow-card:hover, .userflow-card :active {
  background-color: #f5edff;
  transition: 0.3s;
}
.userflow-card:hover .material-icons, .userflow-card :active .material-icons {
  color: #9356dc;
}
.userflow-card-paste {
  position: absolute;
  left: -12.5px;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.userflow-card-text {
  width: 100%;
  font-weight: 500;
  font-size: calc(16px + 4 * (100vw - 300px) / 1300);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.userflow-card-text .material-icons {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1.5em;
}
.restaurant-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.restaurant-card {
  width: 100%;
  border-radius: 1em;
  background-color: #fff;
  margin: 1em 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-card .img-wrapper {
  height: 70%;
  width: 100%;
  display: flex;
  position: relative;
  max-height: 200px;
}
.restaurant-card .img-wrapper .alert-new {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  text-align: center;
  background-color: #99e2d0;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  border-radius: 0.2em;
  font-size: calc(14px + 4 * (100vw - 300px) / 1300);
}
.restaurant-card .img-wrapper img {
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.restaurant-card .card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card .card-body .text-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  padding: 0.5em 1em;
}
.restaurant-card .card-body h3 {
  width: 80%;
}
.restaurant-card .card-body p.faded {
  width: 80%;
}
.restaurant-card .card-body .icon-wrapper {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #353535;
  padding: 1.5em;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: calc(20px + 4 * (100vw - 300px) / 1300);
  color: white;
  font-weight: 400;
}
footer ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  padding: 1em 0;
}
footer ul li {
  color: white;
  margin: 0.5em 0;
}
footer ul li .material-icons {
  color: white;
  font-size: calc(14px + 4 * (100vw - 300px) / 1300);
  margin-right: 0.5em;
}

/*# sourceMappingURL=style.css.map */
